{
  "extends": ["airbnb", "prettier/react"],
  "globals": {
    "cy": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "res|next|stage|^err|on|config"
      }
    ],
    "indent": ["error", 4],
    "react/jsx-filename-extension": 0,
    "comma-dangle": ["error", "never"],
    "max-len": 0,
  }
}
